__pycache__/
*.pyc
.venv/
data/raw/cps/
data/interim/
data/raw/asec/
report/*.aux
report/*.log
report/*.out
data/processed/asec_master.parquet
report/*.lof
report/*.lot
data/processed/teachers.parquet
data/processed/teachers_main.parquet
